.hidden_form > input:not([type="submit"]){
    display: none;
}
.hidden_form {
    margin-top: 40px;
}

div[id*="landmark"] img {
    cursor: crosshair;
}
div.red.dot {
    padding-left: -2px;
    padding-top: -2px;
    width: 4px;
    height: 4px;
    background-color: #F00;
}


