<!DOCTYPE html>
<html class="no-js" lang="en" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
    <title>Brain4Cars - Label</title>
</head>

<body>
<div class="row">
    <div class="icon-bar five-up">
        <a class="item" href="{{ url_for('list_images') }}">
            <label>List</label>
        </a>
        <a class="item" href="{{ url_for('label_face') }}">
            <label>Faces</label>
        </a>
        <a class="item" href="{{ url_for('label_eyes') }}">
            <label>Eyes</label>
        </a>
        <a class="item" href="{{ url_for('label_mouth') }}">
            <label>Mouth</label>
        </a>
        <a class="item" href="{{ url_for('label_nose') }}">
            <label>Nose</label>
        </a>
    </div>
    <br><br>
    {% block body %}{% endblock %}
</div>
<div class="row">
    <ul class="button-group">
    {%if prev%}
        <li>
            <a id="prev" class="button" href="{{ url_for(request.url_rule.endpoint, img_id=prev) }}">Previous</a>
        </li>
    {% endif %}
    {% if next %}
        <li>
            <a id="next" class="button" href="{{ url_for(request.url_rule.endpoint, img_id=next) }}">Next</a>
        </li>
    {% endif %}
    </ul>
</div>
{% if coordinates %}
    <div id="coordinates" style="display:none;">{{coordinates}}</div>
{% endif %}
{% if img_size %}
    <div id="img_size" style="display:none;">{{img_size}}</div>
{% endif %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.Jcrop.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.color.js')}}"></script>
<script src="{{ url_for('static', filename='js/draw_rects.js')}}"></script>
</body>

</html>
