{% extends "base.html" %}
{% block body %}
{% if filename %}
<div class="row">
    <img id="l_labeled_image" src="{{ url_for('static', filename='resized_images/') }}{{filename}}"\>
    <img id="r_labeled_image" src="{{ url_for('static', filename='resized_images/') }}{{filename}}"\>
</div>
<div class="row">
    <div class="small-12 columns">
        <form action="{{request.path}}" method=post class="hidden_form">
            <input name=l_ul_x id="l_x" type="text">
            <input name=l_ul_y id="l_y" type="text">
            <input name=l_lr_x id="l_x2" type="text">
            <input name=l_lr_y id="l_y2" type="text">
            <input name=r_ul_x id="r_x" type="text">
            <input name=r_ul_y id="r_y" type="text">
            <input name=r_lr_x id="r_x2" type="text">
            <input name=r_lr_y id="r_y2" type="text">
            <input readonly name=filename type=text value={{filename}}>
            <input type=submit value=Save class="button large expand">
        </form>
    </div>
</div>
{% else %}
No unlabeled images
{% endif %}
{% endblock %}
